span{
    color:red;
}
.txtcenter{
    text-align: center;    
}
.csshalf{
    float: left;
    width: 50%;
    background-color: greenyellow;
    box-sizing: border-box; 
}
.htmlhalf{  
    float: left;
    width: 50%;    
    background-color: deepskyblue;
    box-sizing: border-box; 
}
.cssimage{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-sizing: border-box;
}
.htmlimage{
    max-width: 100%;
    height: auto;
    border-radius: 50%;   
    box-sizing: border-box; 
}

@media screen and (max-width: 768px){
    .csshalf{        
        width: 100%        
    }
    .htmlhalf{
        width: 100% 
    }        
}

